cfg/IPFilter.cfg
cfg/ServerAgent.cfg
cfg/ServerField.cfg
cfg/ServerField1.cfg
cfg/ServerField2.cfg
cfg/ServerLogin.cfg
cfg/ServerSession.cfg
EditorText.exe
GameEmulator.exe
GMTool.exe
/GMTool
GMToolConfig.ini
Logs/login_ip.txt
RanGaming/ErrorLog/_client_hash_check.txt
RanGaming/ErrorLog/_pvpschoolwars.txt
RanGaming/ErrorLog/_pvptyranny.txt
RanGaming/ErrorLog/_pvptyranny_random_map.txt
/RanGaming
ServerAgent.exe
ServerField.exe
ServerLogin.exe
ServerSession.exe
*.lnk
# Ignore build folders
bin/
obj/
runtimes/
Launcher.exe
/PortableGit
option.ini